/***************************** Desktop *******************************/
footer.footer-desktop {
  height: 115px;
  margin-top: 90px;
  display: flex;
  justify-content: flex-end;
  padding: 0 116px;
  button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: #323C46;
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;
  }
}

/***************************** Mobile *******************************/
footer.footer-mobile {
  height: 58px;
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: #323C46;
    color: #FFFFFF;
    font-size: 25px;
    cursor: pointer;
  }
}
