/***************************** Desktop *******************************/
.events-container-panel-desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  height: 600px;
  width: 80%;
  margin: auto;
  .event-box {
    color: #97A0AA;
    width: 26%;
    height: 40%;
    margin: 7px;
    padding: 2%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    .event-date {
      color: #D9DCE1;
      font-size: 15px;
    }
    h3 {
      color: #000000;
      margin: 30px 0 5px 0;
    }
    .event-owner {
      font-size: 15px;
      color: #827D7D;
    }
    .event-description {
      margin-top: 43px;
      width: 236px;
    }
    .event-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 38px;
      font-size: 15px;
      .counter {
        padding-top: 6px;
        i {
          margin-right: 5px;
        }
      }
      button {
        width: 84px;
        height: 26px;
        border-radius: 4px;
        border: none;
        color: gray;
        background-color: #D9DCE1;
        cursor: pointer;
      }
    }
  }
}

/***************************** Mobile *******************************/
.events-container-panel-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  .event-box {
    color: #97A0AA;
    width: 90%;
    height: 40%;
    margin: 7px;
    padding: 8%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    .event-date {
      color: #D9DCE1;
      font-size: 15px;
    }
    h3 {
      color: #000000;
      margin: 30px 0 5px 0;
    }
    .event-owner {
      font-size: 15px;
      color: #827D7D;
    }
    .event-description {
      margin-top: 43px;
      width: 236px;
    }
    .event-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 38px;
      font-size: 15px;
      .counter {
        padding-top: 6px;
        i {
          margin-right: 5px;
        }
      }
      button {
        width: 84px;
        height: 26px;
        border-radius: 4px;
        border: none;
        color: gray;
        background-color: #D9DCE1;
        cursor: pointer;
      }
    }
  }
}
